{% extends 'base.html' %}{% block main %}
<div id="ascents-banner">
  <h2>Corbett Community</h2>
  <h2>Together you've climbed {{ comm_total_height }}m</h2>
</div>
<div id="bs-ascents">
  <table>
    <caption>
      <h2>These are the most recent ascents</h2>
    </caption>
    <tr>
      <th>Corbett</th>
      <th>Climber</th>
      <th>Date</th>
    </tr>
    {% for ascent in ascents %}
    <tr>
      <td>{{ ascent.hill.name }}</td>
      <td>{{ ascent.climber.name }}</td>
      <td>{{ ascent.date }}</td>
    </tr>
    {% endfor %}
  </table>
  <div>
    <h2>When have we been out this month?</h2>
    <img
      id="agg-monthly-graph"
      src="/static/images/agg_monthly_heat.png"
      alt="monthly heatmap"
    />
  </div>
  <div id="all-time-stats">
    <table>
      <caption>
        <h2>Climber leaderboard: Number (all time)</h2>
      </caption>
      <th>Climber</th>
      <th>Number</th>
      <th>Percent</th>
      {% for result in all_time_summits %}
      <tr>
        <td>{{ climbers[result[0]-1].name }}</td>
        <td>{{ result[1] }}</td>
        <td>{{ (result[1]/222 * 100)|round(2, 'ceil') }}</td>
      </tr>
      {% endfor %}
    </table>
    <table>
      <caption>
        <h2>Climber leaderboard: Height (all time)</h2>
      </caption>
      <th>Climber</th>
      <th>Height(m)</th>
      {% for result in all_time_heights %} {% if result[1]>0 %}
      <tr>
        <td>{{ climbers[result[0]-1].name }}</td>
        <td>{{ result[1] }}</td>
      </tr>
      {% endif %} {% endfor %}
    </table>
  </div>
</div>
{% endblock main %}
