:root {
    --main-grey: #3d3a4b;
    --darkish-grey: #6d6a77;
    --lighter-grey: #9d9aa3;
    --offwhite: #fcfafa;
    --lightest-grey: c8d3d5;
    --grey-blue: #a4b8c4;
    --accent-green: #0cca4a;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fcfafa;
    text-align: center;
    
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    height: 120vh;
}

#nav-logo {
    color:#0cca4a;
    font-weight: bolder;
    margin-right: auto;
    font-size: large;
}

#corbett-banner {
    width: 120%;
    border-bottom: solid 2px #a4b8c4;
    margin-bottom: 2rem;
}

li {
    list-style-type: none;
    
}

nav {
    background-color: var(--main-grey);
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-bottom: solid 1px #0cca4a;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 1rem;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

nav>ul>li:first-child {
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #fcfafa;
}

.dropdown {
    position: relative;
}

.dropdown:hover .submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #a4b8c4;
    border-radius: 0.1rem;
}

.submenu {
    display: none;
    z-index: 100;
}

.dropdown a > span {
    z-index: 200;
    position: relative;
}

.submenu li {
    list-style: none;
}

main {
    background: #6d6a77;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

footer {
    width: 100%;
    background-color: #3d3a4b;
    display: flex;
    color: white;
    justify-content: center;
    border-top: solid 1px #0cca4a;
}

footer ul{
    display: flex;
    margin: 0;
    padding: 1rem;
    gap: 1rem;
}

#hill-profile-gallery{
    color: black;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 1rem;
    text-align: center;
}

.hill-gallery-item {
    padding:1rem;
}

header {
    width: 100%;
}

.start-intro {
    padding: 0 3rem;
    color:#fcfafa;
    text-shadow: 1px 1px #3d3a4b;
    text-align: center;
    font-size: larger;
}

table {
    color:#fcfafa;
}

.page-header {
    text-align: center;
    font-size: x-large;
    color: #3d3a4b;
    background-color: #a4b8c4;
    text-shadow: 2px 2px #9d9aa3;
    padding: 1rem;
    border-radius: 0.2rem;
}

#corbett-table {
    margin: 0 1rem;
    padding: 1rem;
}

th {
    background-color: #3d3a4bb5;
}

td {
    padding: 3px;
}

button.climber-profile-button {
    background-color: #3d3a4b;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 1rem;
}