body {
    padding: 0;
    margin: 0;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    height: 120vh;
}

li {
    list-style-type: none;
    
}

nav {
    background-color: red;
    display: flex;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 1rem;
    justify-content: flex-end;
    gap: 1rem;
}

nav>ul>li:first-child {
    margin-right: auto;
}

a {
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown:hover .submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: red;
}

.submenu {
    display: none;
    z-index: 100;
}

.dropdown a > span {
    z-index: 200;
    position: relative;
}

.submenu li {
    list-style: none;
}

main {
    background: url("/static/images/background_vtransp.png");
    width: 100%;
    padding: 0 2rem;
    flex: 1;
}

footer {
    width: 100%;
    background-color: red;
    display: flex;
    color: white;
    justify-content: center;
}

footer ul{
    display: flex;
    margin: 0;
    padding: 1rem;
    gap: 1rem;
}

#hill-profile-gallery{
    color: black;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 1rem;
    text-align: center;
}

.hill-gallery-item {
    padding:1rem;
}

header {
    width: 100%;
}