{% extends 'base.html' %} {% block main %}
<h2>{{climber.name}} these are your ascents</h2>
<table>
  <tr>
    <th>Corbett</th>
    <th>Height</th>
    <th>Date</th>
  </tr>
  {% for ascent in ascents %} {% if ascent.climber.name == climber.name %}
  <tr>
    <td>{{ ascent.hill.name }}</td>
    <td>{{ ascent.hill.height }}</td>
    <td>{{ ascent.date }}</td>
    <td><a href="/ascents/{{ ascent.id }}/edit">Edit</a></td>
    <td>
      <form action="/ascents/{{ ascent.id }}/delete" method="POST">
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
{% endif %} {% endfor %}
</table>
<h3>Corbets you've climbed:</h3>
<table>
  <tr>
    <th>Corbett</th>
    <th>Times climbed</th>
  </tr>
  {% for ascent in ascents %}
  {% if ascent.climber == climber.name %}
  <tr>
    <td>{{ ascent.hill }}</td>
  </tr>{% endif %}{% endfor %}
</table>
<h3>Been on a climb?</h3>
<button><a href="/ascents/new">Add a new ascent</a></button>
{% endblock main %}
