{% extends 'base.html' %} {% block main %}
<div id="start-page-banner">
  <h1 id="start-def" class="start-intro">
    Corbett. / (ˈkɔːbət) / noun. Mountaineering any separate mountain peak between
    762m and 914m high: originally used of Scotland only, but now
    sometimes extended to other parts of the British Isles. Slang.
  </h1>
  <br>
  <h1 class="start-intro">
    The less well known siblings of the Munros, at current reckoning there are 222 to bag, and so far
    678 people have climbed them all.
  </h1>
  <br>
  <h1 class="start-intro">Are you going to be the next Corbiteer?</h1>
</div>
{% endblock main %}
