{% extends 'base.html' %} {% block main %}
<img
  id="corbett-banner"
  src="/static/images/background_transp.png"
  alt="corbett banner"
/>
<h2 id="start-def" class="start-intro">
  Corbett. / (ˈkɔːbət) / noun. mountaineering any separate mountain peak between
  2500 feet and 3000 feet high: originally used of Scotland only, but now
  sometimes extended to other parts of the British Isles. Slang.
</h2>
<h2 class="start-intro">
  The less well know siblings of the Munros, their summits vary in altitude
  between 762m and 914m. At current reckoning there are 222 to bag, and so far
  678 people have climbed them all.
</h2>
<h2 class="start-intro">Are you going to be the next Corbiteer?</h2>
{% endblock main %}
