{% extends 'base.html' %} {% block main %}
<h1 class="page-header">The Corbetts</h1>
<h3>Ready to explore? Click each Corbett for more</h3>
<div id="corbett-table">
  <table>
    <tr>
      <th><a href="/hills?order_by=name">Name</a></th>
      <th><a href="/hills?order_by=height">Height</a></th>
      <th><a href="/hills?order_by=area">Location</a></th>
    </tr>
    {% for hill in hills %}
    <tr>
      <td><a href="/hills/{{hill.id}}">{{ hill.name }}</a></td>
      <td>{{ hill.height }}</td>
      <td>{{ hill.area }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock main %}
