{% extends 'base.html' %}
{% block main %}
<h2>{{ hill.name }}</h2>
<h3>Summit altitude: {{ hill.height }}m</h3>
<h3>Location: {{ hill.area }}</h3>
<img src="{{ hill.image_path }}" alt="hill image">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor at, sequi hic commodi ratione consequuntur cum quis ut doloremque natus assumenda eos iste non. Excepturi optio saepe veritatis culpa cumque sint adipisci esse doloribus nostrum unde quia iure molestias quasi hic odit sapiente iste eaque, dolorum assumenda autem? At, recusandae?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro ea fuga laboriosam excepturi debitis odit, enim iure. Dolor iste non magni possimus modi dolorem repellendus doloremque dolore dolorum, ipsa voluptatem quaerat et a. Labore nesciunt dolorem molestias suscipit earum eaque.</p>
{% endblock main %}